////
/// Home
/// @group Home
/// @author MS
////

@mixin randomize($number) {
  @for $i from 1 through $number {
    &:nth-child(#{$i}) {
      transform: rotate(random(300) + deg) scale(random(5)) translate((random(100)*3) + %, ( random(100)*3) + %);
      opacity: random(1) * 0.1;
    }
  }
}

svg > * {
  transform-origin: center;
  transition: all 1s cubic-bezier(.55, .12, .48, .99);
  @include randomize(300);
}

.slide {
  height: 100vh;
}

video {
  position: absolute;
  top: 0;
  left: 0;
}

.active > * {
  transform: initial !important;
  opacity: 1 !important;
}